<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
<head>
    <link rel="shortcut icon" th:href="@{/img/logo.ico}" type="image/x-icon">
    <meta charset="UTF-8">
    <title th:text="${title}">title</title>
    <script th:src="@{/js/functions.js}"></script>
</head>
<body>
<header>
    <nav class="nav">
        <div class="nav__title" th:text="${title}">title</div>
        <ul class="nav__list">
            <li class="nav__item" th:text="${name}">name</li>
            <li class="nav__item"><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="table-wrapper">
        <table class="fl-table" id="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>userid</th>
                    <th>fileLocation</th>
                    <th>status</th>
                    <th>printWidth</th>
                    <th>printHeight</th>
                </tr>
            <thead>
            <tbody>
                <tr th:each="image: ${images}">
                    <td id="tableid" th:text="${image.id}">id</td>
                    <td id="tableuserid" th:text="${image.userId}">userId</td>
                    <td id="tablefileLocation"><img th:src="${image.fileLocation}" height="300px" /></td>
                    <td id="tablestatus" th:id="${image.status}" th:text="${image.statusString}">status</td>
                    <td id="tableprintWidth" th:text="${image.printWidth}">printWidth</td>
                    <td id="tableprintHeight" th:text="${image.printHeight}">printHeight</td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="update">
        <form method="post" th:action="@{/admin}" th:object="${editImage}">
            <label for="id">Image ID</label>
            <input type="text" name="id" id="id" th:field="*{id}">

            <label for="status">Status</label>
            <select name="status" id="status" th:field="*{status}">
                <option value="0">Received</option>
                <option value="1">In preparation</option>
                <option value="2">In printing</option>
                <option value="3">Done</option>
            </select>

            <input type="hidden" name="fileLocation" id="fileLocation" th:field="*{fileLocation}">
            <input type="hidden" name="printWidth" id="printWidth" th:field="*{printWidth}">
            <input type="hidden" name="printHeight" id="printHeight" th:field="*{printHeight}">
            <input type="hidden" name="userId" id="userId" th:field="*{userId}">

            <input type="submit" value="Update" id="update">
        </form>
    </div>
</main>
<script th:src="@{/js/update.js}"></script>
</body>
</html>