<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
<head>
    <meta charset="UTF-8">
    <title>AutóNyilvántartás</title>

</head>
<body>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Dátum</th>
            <th>Km állás</th>
            <th>Márka</th>
            <th>Rendszám</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>id</td>
            <td>datum</td>
            <td>km</td>
            <td>marka</td>
            <td>rendszam</td>
        </tr>
    </tbody>
</table>
</body>
</html>